<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <nav class="navbar navbar-dark bg-primary">
      <a class="nav-link" href="/">HOME</a>
     <% if (user) { %>
      <a class="nav-link" href="/goals">ALL GOALS</a>
      <a class="nav-link active" aria-current="page" href="/goals/new">ADD GOAL</a>
      <a class="nav-link" href="/accountabilityPartners/new">ADD ACCOUNTABILITY PARTNER</a>
      <!-- <a class="nav-link" href="/goals">ADD REFLECTION</a> -->
      <a href="/logout">LOG OUT</a>
      <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
     <% } %>
    </nav>
<br>
<h2 class="posts_index">Details</h2>
<section id="show-page">
    <div>Title: Goal Name</div>
    <div><%= goal.goalName %></div>
    <div>Accomplished: </div>
    <div><%= goal.accomplised ? 'Yes' : 'No'  %></div>
    <div>Still Improving: </div>
    <div><%= goal.stillImproving ? 'Yes' : 'No' %></div>
    <div>Start Date: </div>
    <div><%= `${goal.beginDate.toLocaleDateString('en-US', { timeZone: 'UTC' })}`  %></div>
    <div>End Date: </div>
    <div><%= `${goal.endDate.toLocaleDateString('en-US', { timeZone: 'UTC' })}` %></div>
    <div> Days Remaining</div>
     <input value="<%= daysremaining %>">
      <br>
    <h2 class="posts_index">Accountability Partners:</h2>
    <ul>
       <%- goal.partner.map(p => 
       `<li>${p.name}: ${p.relationship}</li>`
       ).join('') %>
     </ul>
  </section>

<form id="add-per-to-partner" action="/goals/<%= goal._id %>/accountabilityPartners" method="POST">
  <select name="accountabilityPartnerId">
        <%- accountabilityPartners.map(p => 
      `<option value="${p._id}">${p.name}</option>`
    ).join('') %>
  </select>
  <button type="submit">Add Accountability Partner</button>
</form>


  <br><br>
<h2 class="posts_index">Reflection</h2>

<% if(user) { %>
  <form id="add-reflection-form" method="POST" action="/goals/<%= goal._id %>/reflections">
    <label>Reflection:</label>
    <textarea name="reflection"></textarea>
    <label>Next Step:</label>
    <textarea name="nextStep"></textarea>

    <input type="submit" value="Add Relection and Next Step"/>
  </form>
<% } %>
<br>
<br>

<% if (goal.reflections.length) { %>
  <table>
    <tbody>
      <% goal.reflections.forEach(function(r, idx) { %>
        <tr>
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reflections/<%= r._id %>?_method=PUT" method="POST">
               <label>Reflection:</label>
                <input class="reflecwidth" type="text" name="reflection" value="<%= r.reflection %>">
                <label>Next Step:</label>
                <input class="reflecwidth" type="text" name="nextStep" value="<%= r.nextStep %>">
                <button type="submit">UPDATE</button>
              </form>
            <% } %>
          </td>
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reflections/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reflections Yet</h5>
<% } %>
</body>
</html>
